/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 5 жовт. 2015, 21:26:52
    Author     : Євгеній
*/

#DivDockMenuFX{
    width: 250px;
}

#header{

}
#cntr{
            background: #c7b39b;
            float:left;
            width: 450px;
    height: 300px;
}
#contact{
        background: #c7b39b;
    margin-left: 75%;
    height: 300px;
    clear: right;
    padding-left: 10px;
}
#auth{
        background: #c7b39b;
        width: 300px;
    float:left;

    text-align: center;
    height: 300px;
}
#contact p{
    margin: 0;
    padding: 0;
}
#contact h1{
    margin: 0;
}


#menu{
        background: #c7b39b;
}
#counter{

        background: #c7b39b;
        padding: 10px;
}
#bodyb{
    overflow: hidden;
   background: #c7b39b;
}
#advert{
    background: #c7b39b;
}
#c{
    height: 100%;
       background: #c7b39b;
       float: bottom;
}


#register_center{
    background: #ffff66;
    width: 230px;
    height: 200px;
    text-align: center;
    position: relative;
    left: 370px;
    top: 150px;
    padding: 10px;
    border: 4px solid #003300;
}

.menubutton {
	transition: background-color 0.5s ease;
	display: inline-block;
        padding: 1em;
	text-decoration: none;
	color: black;
	font-size: 12pt;
        background-color: #815D32;
        width: 120px;
}

.menubutton:hover {
	transition: background-color 0.5s ease;
	transition: color 0.5s ease;
	background: #64757E;
	color: white;
}

.menubutton:active{
    color: black;
}

body {
    width: 1000px;
    margin: auto;
    font-family: Helvetica, Verdana, Arial, sans-serif;
    font-size: 12px;
    height: 100%;

}
   .header { background: #D5BAE4; }
   .layout { 
       background: #c7b39b;
    overflow: hidden; /* Отменяем обтекание */
   }
   .col1 {
       width: 200px;
    background: #c7b39b; /* Цвет фона */
    margin-right: 20%; /* Сдвиг влево на ширину колонок 2 и 3 */
   }
   .col2 { 
    background: #c7b39b; width: 55%;
    float: right; /* Обтекание слева */
   }
   .col3 { 
    background: #c7b39b; width: 25%; 
    float: right; /* Обтекание слева */
   }
   .col1 li{
      list-style-type: none
   }
   .col2 li{
       font-size: 14;
       line-height: 2;
   }